In [8]:
import numpy as np

In [1]:
#DESCRIPTIVE FUNCTIONS

In [2]:
#MEAN

In [11]:
lis=[5,4,3,2,1,6]
print(lis[2])
print(len(lis))
def mean(lis):
    sum=0
    for i in range(len(lis)):
        sum+=lis[i]
    return sum/len(lis)
mean(lis)

3
6

3.5

In [12]:
#MEDIAN

In [13]:
def median(lis):
    lis.sort()
    print(lis)
    if len(lis)%2!=0:
        n= int(((len(lis)+1)/2)-1)
        print(n)
        median=lis[n]
    else:
        n1=lis[int((len(lis)/2)-1)]
        n2=lis[int(len(lis)/2)]
        median=(n1+n2)/2
        
    return median
median(lis)

[1, 2, 3, 4, 5, 6]

3.5

In [31]:
#MODE

In [80]:
data=[1,2,3,5,3,2,6,3,7,2,7,3,2,7,9,8,7,9,4]
#print(data[1])
lis=[print(mode(data))]
def mode1(data):
    mod={}
    for i in range(len(data)):
        res=data[i]
        if res in mod:
            mod[res]+=1
        else:
            mod[res]=1
        print(mod)
        maxmod=max(mod.values())
       # j=[k for k, v in mod.items() if v == maxmod]
        
    print(maxmod)
    listofkeys=[]
    for key, value in mod.items():
        if value == maxmod:
            listofkeys.append(key)
    print(listofkeys)
mode1(data)

2
None
{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 1, 3: 1}
{1: 1, 2: 1, 3: 1, 5: 1}
{1: 1, 2: 1, 3: 2, 5: 1}
{1: 1, 2: 2, 3: 2, 5: 1}
{1: 1, 2: 2, 3: 2, 5: 1, 6: 1}
{1: 1, 2: 2, 3: 3, 5: 1, 6: 1}
{1: 1, 2: 2, 3: 3, 5: 1, 6: 1, 7: 1}
{1: 1, 2: 3, 3: 3, 5: 1, 6: 1, 7: 1}
{1: 1, 2: 3, 3: 3, 5: 1, 6: 1, 7: 2}
{1: 1, 2: 3, 3: 4, 5: 1, 6: 1, 7: 2}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 2}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 3}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 3, 9: 1}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 3, 9: 1, 8: 1}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 4, 9: 1, 8: 1}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 4, 9: 2, 8: 1}
{1: 1, 2: 4, 3: 4, 5: 1, 6: 1, 7: 4, 9: 2, 8: 1, 4: 1}
4
[2, 3, 7]

In [82]:
#STANDARD DEVIATION

In [101]:
import statistics
data=[1,2,3,4,5,6,7,8,9,23,5,46,75,42,3,45,87876,543123,765245,51,456]
print(statistics.stdev(data))
def SD(data):
    sd=0.0
    for i in range(len(data)):
        sd+=((data[i]-mean(data))**2)/len(data)
    return (sd)**0.5
SD(data)

199419.97126858158

194613.96450840315

In [ ]:
# VARIANCE

In [5]:
data=[1,2,3,4,5,6,7,8,9,23,5,46,75,42,3,45,87876,543123,765245,51,456]
def mean(lis):
    sum=0
    for i in range(len(lis)):
        sum+=lis[i]
    return sum/len(lis)
def SD(data):
    sd=0.0
    for i in range(len(data)):
        sd+=((data[i]-mean(data))**2)/len(data)
    return (sd)**0.5
def variance(data):
    var=(SD(data))**2
    return var
variance(data)

37874595181.678

In [6]:
# RANGE

In [30]:
data=[3,5,7,2,8,2,6,9,14,54,23,56,34,56,28,45,37,72,62]
def get_range(data):
    data.sort()
    
    print(data)
    n=len(data)
    Range=data[n-1]-data[0]
    return Range
get_range(data)

[2, 2, 3, 5, 6, 7, 8, 9, 14, 23, 28, 34, 37, 45, 54, 56, 56, 62, 72]

70

In [31]:
# PERCENTILE

In [72]:
data=[3,5,7,2,8,2,6,9,14,54,23,56,34,56,28,45,37,72,62]

def percent(data,p):
    data.sort()
    print(data)
    index= ((len(data)*p)/100)
    print(index)
    if type(index)==float:
        ind=round(index)
        print(ind)
        val_p=data[ind-1]
    else:
        val_p=data[index]
    return val_p
        
percent(data,80)

[2, 2, 3, 5, 6, 7, 8, 9, 14, 23, 28, 34, 37, 45, 54, 56, 56, 62, 72]
15.2
15

54

In [73]:
# QUARTILE

In [102]:
samples = [28, 12, 8, 27, 16, 31, 14, 13, 19, 1, 1, 22, 13]
def median(lis):
    lis.sort()
    print(lis)
    if len(lis)%2!=0:
        n= int(((len(lis)+1)/2)-1)
        print(n)
        median=lis[n]
        median_index=int(((len(lis)+1)/2)-1)
    else:
        n1=lis[int((len(lis)/2)-1)]
        n2=lis[int(len(lis)/2)]
        median=(n1+n2)/2
        median_index=int((len(lis)/2)-1)
        
    return median,median_index
Q2, Q2_index= median(samples)
print(Q2)
print(Q2_index)
print(samples)
Q1, Q1_index=median(samples[:Q2_index])
print(Q1)
print(Q1_index)
Q3, Q3_index=median(samples[Q2_index+1:])
print(Q3)
print(Q3_index)

[1, 1, 8, 12, 13, 13, 14, 16, 19, 22, 27, 28, 31]
6
14
6
[1, 1, 8, 12, 13, 13, 14, 16, 19, 22, 27, 28, 31]
[1, 1, 8, 12, 13, 13]
10.0
2
[16, 19, 22, 27, 28, 31]
24.5
2

In [106]:
cd Desktop

/Users/anisha/Desktop

In [107]:
ls | grep csv

Iris.csv
Iris.csv.numbers
Pandas - Q1 Sales.csv
data.csv

In [116]:
import pandas as pd
file=pd.read_csv("Iris.csv")

In [117]:
file

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica